@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');
@mixin lora_bold {
  font-family: 'Lora', serif;
  font-weight: 700;
}
@mixin roboto_bold {
  font-family: 'Lora', serif;
  font-weight: 700;
}
@mixin roboto_regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
